# Ignore Gradle project-specific cache directory
.gradle
.vscode
# Ignore Gradle build output directory
build
protobufs/
*.sh
lib
bin
vosk*
vosk-eng-huge
vosk-eng-medium
vosk-eng-small
config
*.jar
*.pv
*.ppn
libvosk.so
recorded.pcm
daanzu/

codes.json